* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  max-height: 100vh;
  background-color: #fff;

  position: relative;
  overflow: hidden;
}

.app-container > section {
  flex-basis: content;
  height: 0;
}

.aside {
  background-color: bisque;
  align-items: center;
  gap: 8px;

  padding-top: 32px;
}

.json-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.json-area > .offset,
.json-area > .list {
  white-space: pre;
  background-color: aliceblue;
  padding: 32px;

  border-radius: 8px;
}
